/* src/assets/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure the entire body has no margin/padding */
body, html {
  margin: 0;
  padding: 0;
  background-color: #000; /* Set background to black */
  height: 100%;
}

/* Remove any default margin on the Container */
.MuiContainer-root {
  padding: 0;
}

/* Optionally, make sure the navbar has a black background too */
.navbar {
  background-color: #000; /* Set the navbar background to black */
}


.card-shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hover-shadow:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
